/**
* Base template
*
*/
html {overflow-x: hidden;}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	position: relative;
	background-image: url(../images/fondo1.jpg);
}
header{
	width: 100%;
	float: left;
	.content-header{
		width: 	1000px;
		margin: 0 auto;
		.logo{float: left;}
		.derecha{
			float: right;
			.moduletableidiomas{
				width: 50px;	
				float: right;
				background: black;
				padding: 5px 17px;
				border-radius: 0px 0px 19px 19px;
				margin-right: 20px;
				p{color: #ccc;}
				a{
					color: @base;
					text-decoration: none;
					font-family: @archivo;
					font-size: @font14;
					&:hover{color: @azulidiomas;}
				}
			}
			.register{
				margin-top: 50px;
			}
		}
	}
}
body nav{
	width: 100%;
	float: left;
	background: @azulmenu;
	border-top: 6px solid @base;
	border-bottom: 6px solid #E5E6E8;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 15px;
		top: -5px;
		border-radius: 100%;
		box-shadow: 0px 0px 22px -3px;
		z-index: -9;
	}
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 15px;
		top: 44px;
		border-radius: 100%;
		box-shadow: 0px 0px 22px -3px;
		z-index: -9;
	}
	.contenedor-menu{
		width: 1000px;
		margin: 0 auto;
		.menu{
			width: 100%;
			text-align: center;
			li.current.active{
				display: inline-block;
				a{
					font-family: @comfortaa;
					color: #282A2C;
					font-size: @font14;
					text-decoration: none;
					display: inline-block;
					padding: 20px 23px;
					position: relative;
					.transition( all 0.3s);
					.background-botones;
					&:after{
						content: '';
						position: absolute;
						width: 0;
					    height: 0;
					    border-top: 27px solid transparent;
						border-left: 12px solid @base;
						border-bottom: 27px solid transparent;
						top: 0;
						right: -12px;
					}
					&:before{
						content: '';
						position: absolute;
						width: 9px;
						height: 9px;
						border-radius: 50%;
						background: @azulmenu;
						left: 4px;
						top: 18px;
						border: 3px solid @base;
						box-shadow: 0px 1px 0px 0px;
					}
				}
			}
			li{
				display: inline-block;
				a{
					font-family: @comfortaa;
					color: @base;
					font-size: @font14;
					text-decoration: none;
					display: inline-block;
					padding: 20px 23px;
					position: relative;
					.transition( all 0.3s);
					&:hover{
						.background-botones;
						color: #282A2C;
						&:after{
							content: '';
							position: absolute;
							width: 0;
						    height: 0;
						    border-top: 27px solid transparent;
							border-left: 12px solid @base;
							border-bottom: 27px solid transparent;
							top: 0;
							right: -12px;
						}
						&:before{
							content: '';
							position: absolute;
							width: 9px;
							height: 9px;
							border-radius: 50%;
							background: @azulmenu;
							left: 4px;
							top: 18px;
							border: 3px solid @base;
							box-shadow: 0px 1px 0px 0px;
						}
					}
				}
			}
		}
	}
}
main{
	width: 100%;
	float: left;
}
body footer{
	width: 100%;
	float: left;
	background-color: @oscuro;
	border-top: 1px solid @base;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 15px;
		top: 0px;
		border-radius: 100%;
		box-shadow: 0px 0px 22px -3px;
		z-index: -1;
	}
	.wrapper-pie{
		width: 1000px;
		margin: 0 auto;
		margin-bottom: 20px;
		table{
			td{
				vertical-align: middle;
				ul{float: left;width: 80%;text-align: left;padding-left: 31px;}
				ul li{
					display: inline-block;
					position: relative;
					margin: 9px 0;
					margin-right: 35px;
					&:before{
						content: '';
						position: absolute;
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background: @azulmenu;
						left: -23px;
						top: -3px;
						border: 4px solid @base;
					}
					p{
						font-family: @opensans;
						font-size: @font13;
						color: @base;
					}
				}
				&:nth-child(1){
					text-align: center;
				}
				h4{
					width: 220px;
					font-family: @comfortaa;
					font-size: @font15;
					color: @base;
					span{
						float: left;
						margin-top: 12px;
						margin-right: 22px;
					}
					img{
						margin-right: 10px;
					}
				}
				hr{border: 1px solid #ccc;}
			}
		}
	}
	.creditos{
		background-color: @azulmenu;
		float: left;
		width: 100%;
		.copy{
			width: 1000px;
			margin: 0 auto;
			text-align: right;
			padding: 5px;
			span{
				font-family: @comfortaa;
				font-size: @font12;
				a{
					color: @base;text-decoration: none;display: inline-block;
					img{
						float: right;
						margin-left: 7px;
						margin-top: -4px;
					}
				}
			}
		}
	}
}

.background-botones{
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1NyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlNmU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 57%, rgba(229,230,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,rgba(255,255,255,1)), color-stop(100%,rgba(229,230,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 57%,rgba(229,230,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 57%,rgba(229,230,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 57%,rgba(229,230,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 57%,rgba(229,230,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e6e8',GradientType=0 ); /* IE6-8 */

}