main{
	position: relative;

	#jj_sl_navigation{
		position: absolute;
		top: 150px;

		li{

			a{
				background-color: #8B6D4C !important;
				border-radius: 8px 0 0 8px;
				padding: 17px 10px;
			}
		}
	}
}

.wrapper-2{
	background-color: #F3F0ED;
	float: left;
	width: 100%;

	.content-all{
		width: 1000px;
		margin: 0 auto;
		padding-bottom: 150px;

		h2{
			text-align: left;
			font-size: @font36;
			font-family: @PTsans;
			color: @cafeOscuro;
			font-weight: 100;
		}

		.empresa{
			padding-bottom: 100px;

			img{
				border-radius: 10px;
				margin-bottom: 19px;
			}

			p{
				font-size: @font18;
				color: @oscuro;
				font-family: @opensans;
				line-height: 28px;
				text-align: justify;

				span{
					color: @caqui;
					font-weight: bold;
				}
			}
		}

		.novedades{

			table{

				td{
					width: 50%;
					text-align: center;
					padding-bottom: 60px;

					h3{
						text-align: left;
						font-size: @font18;
						color: @caqui;
						font-family: @opensans;
						font-weight: 600;
					}

					img{
						border: 12px solid @base;
						border-radius: 8px;
					}

					p{
						font-size: @font16;
						color: @oscuro;
						font-family: @opensans;
						text-align: justify;
					}
				}
			}
		}

		.contact{
			form{padding-bottom: 35px !important;}
		}

		.oportunidades, .representantes, .contact{
			padding-bottom: 100px;

			p{
				font-size: @font16;
				color: @oscuro;
				font-family: @opensans;
				text-align: justify;
				margin: 0;
			}

			.formResponsive{
				text-align: center;

				.rsform-submit-button{
					margin: 20px 0;
				}
			}

			form{
				background: @base;
				padding: 4px 22px;
				margin-top: 30px;
				margin-bottom: 0;

				.formRed{
					display: none;
				}

				h2{
					text-align: left;
					font-size: @font26;
					font-family: @PTsans;
					color: @cafeOscuro;
					font-weight: 100;
				}

				.rsform-block {
					float: left;
					width: 50%;

					.formControls{
						margin: 0;
					}

					.formBody{

						input{
							width: 94%;
							color: @cafeOscuro;
							border: 1px solid @cafeOscuro;
							padding: 7px 0;
							border-radius: 0;
							padding-left: 7px;
							font-family: @PTsans;
							font-size: @font18;
							line-height: 29px;
							margin: 0;
						}

					}
				}

				.rsform-block.rsform-block-mensaje{
					width: 100%;

					.formBody{

						textarea{
							width: 97%;
							color: @cafeOscuro;
							border: 1px solid @cafeOscuro;
							font-family: @PTsans;
							font-size: @font18;
						}
					}
				}

				.rsform-block.rsform-block-enviar{
					float: right;
					text-align: right;
					width: 54%;

					input[type="submit"], input[type="reset"]{
						background: none;
						width: auto;
						padding: 4px 40px;
						font-size: @font21;
						margin-right: 22px;
						.transition( all 0.3s);

						&:hover{
							background: @cafeOscuro;
							color: @base;
						}
					}
				}
			}

			ul{
				padding: 15px 0;
				width: 100%;
				float: left;
				background: @caqui;
				margin: 0;
				text-align: right;
				position: relative;
				margin-bottom: 100px;

				&:before{
					content: '';
					position: absolute;
					background-image: url(../images/operadora.png);
					width: 132px;
					height: 142px;
					left: 23px;
					top: -88px;
				}

				li{
					list-style-type: none;
					display: inline-block;
					vertical-align: middle;
					font-family: @opensans;
					font-size: @font18;
					color: @base;
					margin: 0 33px;
					position: relative;

					&:before{
						content: '';
						position: absolute;
						background-image: url(../images/SpriteContact.png);
						height: 50px;
						width: 50px;
						left: -46px;
						top: -10px;
					}

					a{
						color: @base;
						text-decoration: none;
					}

					&:nth-child(1){
							
						&:before{
							background-position: -57px -2px;
						}
					}

					&:nth-child(2){
						
						&:before{
							background-position: -128px -1px;
						}
					}
				}
			}
		}

		.terminos{
			padding-bottom: 100px;

			h4{
				color: @caqui;
				font-family: @opensans;
				font-size: @font18;
				text-transform: uppercase;
				font-weight: 600;
			}

			p{
				font-size: @font18;
				color: @oscuro;
				font-family: @opensans;
				line-height: 28px;
				text-align: justify;

				span{
					color: @caqui;
				}
			}
		}

		.categorias{

			table{margin-bottom: 50px;}

			table td{
				text-align: center;
				width: 20%;

				h4{
					background-color: #AC977F;
					color: @base;
					font-family: @PTsans;
					font-size: @font30;
					font-weight: 100;
					text-align: left;
					padding-left: 20px;
					margin-top: 0;
				}
			}

			.efecto{
			 	display: inline-block;
			 	position: relative;
			 	text-align: center;
			 	

			 	img{ width: 100%;}

			 	h3{
			 		position: absolute;
			 		margin: 0;
			 		visibility: visible;
			 		font-weight: 100;
			 		top: 0;
			 		left: 0;
			 		height: 100%;
			 		.background;
			 		width: 100%;
			 		.transition( height 0.3s );
			 		text-align: center;

			 		span{
			 			position: absolute;
			 			bottom: 0;
			 			font-family: @PTsans;
						font-size: @font19;
						color: @base;
						display: inline-block;
						left: 0;
						width: 100%;
						padding: 16px 0;
			 		}
			 	}

			 	&:hover{

			 		img{box-shadow: 0px 0px 17px -4px @black;}

			 		h3{
			 			visibility: visible;
			 			height: 0;
			 			.background;
			 			text-align: center;

			 			span{
			 				color: @caqui;
			 				padding: 10px 0;
			 			}
			 		}
			 	}
			}
		}
	}
}
.placeholder( @cafeOscuro );