.banner{
	width: 100%;
	float: left;
	text-align: center;
	.banner-home{
		width: 1900px;
		display: inline-block;
		.moduletable{
			.ju-slideshow .ju-slide-navigation-dots{
				bottom: 24%;
				.image_number{
					width: 11px;
					height: 11px;
					.background-botones;
					border-radius: 50%;
					border: 3px solid @base;
				}
				.image_number_select{
					background: @azulmenu;
				}
			}
			.ju-slideshow .ju-slide-btns{
				.prev_button{
					background: url(../images/sprite.png);
					background-position: 103px -63px;
					width: 48px;
					height: 71px;
					background-color: rgba(0, 0, 0, 0.12);
					border-radius: 0px 13px 13px 0px;
					top: 36%;
				}
				.next_button{
					background: url(../images/sprite.png);
					background-position: 50px -63px;
					width: 48px;
					height: 71px;
					background-color: rgba(0, 0, 0, 0.12);
					border-radius: 13px 0px 0px 13px;
					top: 36%;
				}
			}
		}
		.default-modal .ju-slide-desc {
			background: none;
			color: #313131;
			width: 1000px;
			height: 55%;
			left: 24%;
		}
		.ju-slideshow .ju-slide-desc-inner{
			width: 47%;
			height: 40%;
			background: rgba(0, 0, 0, 0.42);
			padding: 7px 12px;
			h3{
				font-family: @fjalla;
				color: @base;
				font-size: 34px;
				border-bottom: 2px solid @base;
				width: 100%;
			}
			.label-desc{
				font-family: @archivo;
				font-size: @font18;
				color: @base;
			}
		}
	}
	.login-pagina{
		width: 100%;
		float: left;	
		background: rgba(0, 0, 0, 0.42);
		padding-top: 34px;
		margin-top: -132px;
		position: relative;
		z-index: 99999;
		.niftyquick{
			width: 812px;
			.yoo-login .login .login-button{
				background-image: url(../images/Login.png) !important;
				width: 100px !important;
				height: 50px !important;
				background-position: center -4px !important;
				button{
					height: auto;
					float: left;
					margin-top: 16px;
					font-size: @font14;
					font-family: @archivo;
					color: @base;
					text-transform: capitalize;
					width: 76%;
				}
			}
			.yoo-login .login .lostpassword{
				margin: 10px 0;
				a{
					font-size: @font16;
					font-family: @archivo;
					color: @base;
					text-decoration: none;
				}
			}
		}
		.login-espa .niftyquick{
			margin: 0 auto;
			span.login{height: auto;}
			.yoo-login .login span{
				background: none;
				padding: 0;
				width: auto;
				height: auto;
			}
			.yoo-login .login .username{
				position: relative;
				width: 300px;
				padding: 14px 0;
				border: 6px solid @base;
				box-shadow: 0px 0px 3px 3px #808080 inset;
				border-radius: 4px;
				background-color: @base;
				background-image: url(../images/UsuaYcontra.png);
				background-repeat: no-repeat;
				background-position: -5px;
				padding-left: 11px;
				margin-right: 35px;
				&:before{
					content: 'Usuario';
					position: absolute;
					font-size: @font14;
					font-family: @archivo;
					color: @base;
					left: 21px;
					top: 13px;
				}
				input {
					margin-left: 91px;
					width: 68%;
				}
			}
			.yoo-login .login .password{
				position: relative;
				width: 300px;
				padding: 14px 0;
				border: 6px solid @base;
				box-shadow: 0px 0px 3px 3px #808080 inset;
				border-radius: 4px;
				background-color: @base;
				background-image: url(../images/UsuaYcontra.png);
				background-repeat: no-repeat;
				background-position: -5px;
				padding-left: 11px;
				margin-right: 25px;
				&:before{
					content: 'Contraseña';
					position: absolute;
					font-size: @font14;
					font-family: @archivo;
					color: @base;
					left: 14px;
					top: 13px;
				}
				input {
					margin-left: 91px;
					width: 68%;
				}
			}
		}
		.login-ingles .niftyquick{
			margin: 0 auto;
			.yoo-login .login span{
				background: none;
				padding: 0;
				width: auto;
				height: auto;
			}
			span.login{height: auto;}
			.yoo-login .login .username{
				position: relative;
				width: 300px;
				padding: 14px 0;
				border: 6px solid @base;
				box-shadow: 0px 0px 3px 3px @black inset;
				border-radius: 4px;
				background-color: @base;
				background-image: url(../images/UsuaYcontra.png);
				background-repeat: no-repeat;
				background-position: -5px;
				padding-left: 11px;
				margin-right: 35px;
				&:before{
					content: 'User';
					position: absolute;
					font-size: @font14;
					font-family: @archivo;
					color: @base;
					left: 21px;
					top: 13px;
				}
				input {
					margin-left: 91px;
					width: 68%;
				}
			}
			.yoo-login .login .password{
				position: relative;
				width: 300px;
				padding: 14px 0;
				border: 6px solid @base;
				box-shadow: 0px 0px 3px 3px @black inset;
				border-radius: 4px;
				background-color: @base;
				background-image: url(../images/UsuaYcontra.png);
				background-repeat: no-repeat;
				background-position: -5px;
				padding-left: 11px;
				&:before{
					content: 'Password';
					position: absolute;
					font-size: @font14;
					font-family: @archivo;
					color: @base;
					left: 14px;
					top: 13px;
				}
				input {
					margin-left: 91px;
					width: 68%;
				}
			}
		}
	}
}
.wrapper-1{
	width: 100%;
	float: left;
	background-image: url(../images/fondo2.1.jpg);
	.content-all{
		width: 1000px;
		margin: 0 auto;
		table{margin-top: 50px;}
		table td{
			width: 50%;
			vertical-align: top;
			h3{
				font-family: @comfortaa;
				font-size: @font30;
				background-color: @oscuro;
				color: @base;
				padding: 6px 0px 6px 48px;
				border-radius: 20px 20px 20px 20px;
				position: relative;
				margin-bottom: 27px;
				box-shadow: 0px 7px 10px 0px #ccc;
				&:before{
					content: '';
					position: absolute;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: @azulmenu;
					left: 15px;
					top: 12px;
					border: 5px solid @base;
				}
			}
			p{
				font-family: @ptsans;
				font-size: @font15;
				color: @oscuro;
				line-height: 21px;
				text-align: justify;
			}
			&:nth-child(1){
				text-align: center;
			}
		}
	}
}
.wrapper-2{
	width: 100%;
	float: left;
	background-image: url(../images/fondo2.jpg);
	border-top: 2px solid #ccc;
	position: relative;
	z-index: -2;
	.content-all{
		width: 1000px;
		margin: 0 auto;
		ul{width: 57%; margin: 32px auto;}
		ul li{
			display: inline-block;
			margin-right: 10px;
			img{
				border: 1px solid @azulmenu;
				border-radius: 5px;
			}
		}
	}
}