/**
*
* variables to use in less
*
*/

// Site Standard colors

@base: #fff;
@black: #000;
@azulidiomas: #0097DB;
@azulmenu: #006C91;
@oscuro: #282B2E;






// Font size
@font36: 36px;
@font30: 30px;
@font26: 26px;
@font21: 21px;
@font19: 19px;
@font18: 18px;
@font17: 17px;
@font16: 16px;
@font15: 15px;
@font14: 14px;
@font13: 13px;
@font12: 12px;

//line height
@line: 18px;


// Font Family

@comfortaa: 'Comfortaa';
@archivo: 'Archivo Narrow';
@ptsans: 'PT Sans';
@opensans: 'Open Sans';
@fjalla: 'Fjalla One';

